/5_JPA/JPA/nbproject/private/
/5_JPA/JPA/build/
/5_JPA/JPA_5_2/nbproject/private/
/Projet/EAR_projet_final/nbproject/private/
/Projet/EAR_projet_final/EAR_projet_final-ejb/nbproject/private/
/Projet/EAR_projet_final/EJB_Analyse/nbproject/private/
/Projet/EJB_Medecin/nbproject/private/
/Projet/ApplicationPATIENT/nbproject/private/
/Projet/ApplicationMEDECIN/nbproject/private/
/Projet/ApplicationLABORANTIN/nbproject/private/
/Projet/WS/nbproject/private/
/Projet/WS_Resultat/nbproject/private/